#finding-map {
    margin-top: calc(56px + 10px);
    margin-bottom: 10px;
    height: calc(100vh - 56px - 10px);
}

#finding-map > .container-fluid{
    height: 100%;
}

#map {
    height: 100%;
    text-align: left;
}

#map-controls-wrapper {
    margin-right: 10px;
    margin-top: 10px;
    height: 35px;
    width: 300px;
}

/*----- BEGIN google  superfluous info disabling -----*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
/*----- END google  superfluous info disabling -----*/