#finding-map {
    margin-top: 5px;
    margin-bottom: 5px;
    height: calc(100vh - 68px - 5px);
}

#finding-map > .container-fluid{
    height: 100%;
}

#map {
    height: 100%;
    text-align: left;
}

#map-controls-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    height: 35px;
    max-width: 550px;
}

#address-input-wrap {
    width: 300px;
}

.lossInfo {
    max-width: 250px;
}

/*----- BEGIN google  superfluous info disabling -----*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
/*----- END google  superfluous info disabling -----*/