body {
    background-color: ghostwhite;
}

#loss-info-container {
    background-color: white;
    border-radius: 20px;
}

#map {
    height: 300px;
    width: 800px;
}

#loss-info-wrapper {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    margin-bottom: 250px;
}

#loss-img {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    background-color: #f8f8ff;
}

.card {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}
