.header {
    position: fixed;
    height: 85px;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

/*---------------------------------------------------------*/

label {
    color: #34302d !important;
}

h2 {
    text-transform: uppercase;
    margin-top: 20px !important;
    margin-bottom: 10px;
}

#loss-location,
#loss-info {
    text-align: center;
    display: flex !important;
}

#location-input-wrapper,
.loss-info-form-wrapper {
    display: flex;
    justify-content: flex-end;
}

#autocomplete-wrapper {
    margin-right: 10px;
    margin-top: 10px;
    height: 35px;
    width: 300px;
}

#map {
    margin-top: 5px;
    height: 560px;
}


#loss-info-wrapper {
    height: 400px;
    margin-top: 80px;
}

.loss-info-form-wrapper {
    display: flex;
    justify-content: center;
    text-align: left;
}

#submit-btn-wrapper {
    text-align: center;
}