/* Semantic-UI Custom */

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #4d4947;
    color: rgba(255, 255, 255, 0.9);
}

.ui.secondary.inverted.pointing.menu {
    border-width: 2px;
    border-color: #4d4947;
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #68bd45;
    color: #ffffff;
}

.ui.inverted.button:hover {
    background: none;
    -webkit-box-shadow: 0px 0px 0px 2px #FFFFFF inset !important;
    box-shadow: 0px 0px 0px 2px #77c458 inset !important;
    color: #fff;
}

.ui.primary.buttons .button, .ui.primary.button {
    background-color: #68bd44;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
}

.ui.primary.buttons .button:hover, .ui.primary.button:hover {
    background-color: #77c458;
    color: #FFFFFF;
    text-shadow: none;
}

/* END */

.hidden.menu {
    display: none;
}

.ui.menu:not(.vertical) .item > .button {
    margin-left: 0.7em;
}

.ui.menu .ui.button {
    margin-left: 0.7em;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.custom-link {
    color: #68bd45;
}

.custom-link:hover {
    color: #77c458;
}

.ui.button.custom-green {
    color: #FFFFFF;
    background-color: #68bd45;
}

.ui.button.custom-green:hover {
    color: #FFFFFF;
    background-color: #77c458;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    position: relative;
    overflow: hidden;
}

.custom-container {
    padding-top: 50px;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}