<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>IfLostFound | Feed</title>
    <!-- Styles -->
    <link th:href="@{/libs/normalize/normalize.css}" rel="stylesheet">
    <link th:href="@{/libs/semantic/semantic.css}" rel="stylesheet">
    <link th:href="@{/css/page.css}" rel="stylesheet">
</head>

<body>
    <div class="pusher">
        <div class="ui inverted vertical center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="item" th:href="@{/}">Home</a>
                    <a class="item" th:href="@{/map}">Map</a>
                    <a class="active item" th:href="@{/feed}">Feed</a>
                    <a class="item" th:href="@{/about}">About</a>

                    <!-- This section is visible for anonymous user-->
                    <div class="right item" sec:authorize="isAnonymous()">
                        <a class="ui inverted button" th:href="@{/login}">Log in</a>
                        <a class="ui inverted button" th:href="@{/signup}">Sign Up</a>
                    </div>
                    <!-- end -->

                    <!-- This section is visible for authenticated user-->
                    <div class="right item" sec:authorize="isAuthenticated()">
                        <a class="ui inverted button" th:href="@{/login}">Account</a>
                        <a class="ui inverted button" th:href="@{/logout}">Log out</a>
                    </div>
                    <!-- end -->

                </div>
            </div>
        </div>
    </div>

    <div class="ui container custom-container">
        <div class="ui divided items">
            <div class="item">
                <div class="image">
                    <img src="" alt="map">
                </div>
                <div class="content">
                    <a class="header">Find Phone</a>
                    <div class="meta">
                        <span>iPhone XS</span>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eveniet, magni nemo quam quidem
                            quod.</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated positive basic button" sec:authorize="isAuthenticated()">
                            Get
                            <i class="right chevron icon"></i>
                        </div>
                        <a class="ui image label">
                            <img th:src="@{/images/female_user.png}" alt="User image">
                            Lora
                        </a>
                        <div class="ui orange label">So</div>
                        <div class="ui label"><i class="andorra flag"></i> Andorra</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="" alt="map">
                </div>
                <div class="content">
                    <a class="header">Find Pen</a>
                    <div class="meta">
                        <span class="">Pen X30-1</span>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated positive basic button" sec:authorize="isAuthenticated()">
                            Get
                            <i class="right chevron icon"></i>
                        </div>
                        <a class="ui image label">
                            <img th:src="@{/images/user.svg}" alt="User image">
                            Bob
                        </a>
                        <div class="ui green label">Not Important</div>
                        <div class="ui label"><i class="ug flag"></i> Uganda</div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="image">
                    <img src="" alt="map">
                </div>
                <div class="content">
                    <a class="header">Cat</a>
                    <div class="meta">
                        <span>British Cat</span>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam id nesciunt quo velit?
                            Assumenda, autem commodi eligendi fugit incidunt inventore qui quia repudiandae!</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated positive basic button" sec:authorize="isAuthenticated()">
                            Get
                            <i class="right chevron icon"></i>
                        </div>
                        <a class="ui image label">
                            <img th:src="@{/images/user.svg}" alt="User image">
                            Rafik
                        </a>
                        <div class="ui red label"><span>Important!</span></div>
                        <div class="ui label"><i class="france flag"></i> <span>France</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script th:src="@{/libs/jQuery/jquery.js}"></script>
    <script th:src="@{/js/map.js}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?token"></script>
    <script th:src="@{/libs/semantic/semantic.js}"></script>

</body>

</html>