<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>IfLostFound | Feed</title>
    <!-- Styles -->
    <link th:href="@{/libs/normalize/normalize.css}" rel="stylesheet">
    <link th:href="@{/libs/semantic/semantic.css}" rel="stylesheet">
    <link th:href="@{/css/page.css}" rel="stylesheet">
</head>

<body>
    <header th:replace="partials/feed/item.html :: header"></header>

    <main th:replace="partials/feed/item.html :: item"></main>

    <!-- Scripts -->
    <script th:src="@{/libs/jQuery/jquery.js}"></script>
    <script th:src="@{/js/map.js}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?token"></script>
    <script th:src="@{/libs/semantic/semantic.js}"></script>

</body>

</html>