<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>IfLostFound | Loss</title>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/lib/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/page/finding_report.css}">
</head>

<body>

<nav th:replace="partials/nav.html :: nav"></nav>

<main>
    <div class="ui segment container" style="width: 700px">
        <div class="row" id="map"></div>

        <div class="ui column" id="location-input-wrapper">
            <div class="ui action input" id="autocomplete-wrapper">
                <input id="autocomplete" placeholder="Address..." type="text">
            </div>
        </div>

        <!--BEGIN steps-->
        <div class="ui left very close rail">
            <div class="ui segment">
                <div class="ui vertical steps">
                    <div class="completed step">
                        <i class="truck icon"></i>
                        <div class="content">
                            <div class="title">Find</div>
                            <div class="description">You didn't pass by a loss!</div>
                        </div>
                    </div>
                    <div class="active step">
                        <div class="content">
                            <div class="title">Provide information</div>
                            <div class="description">Specify your finding details</div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="content">
                            <div class="title">Wait!</div>
                            <div class="description">Let a happy owner find and contact you!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END steps-->

        <!--BEGIN finding info-->
        <div class="ui right very close rail">
            <div class="ui segment">
                <form class="ui medium form" method="post" th:action="@{/finding/report}" th:object="${finding}">
                    <!--hidden-->
                    <input id="finding-lat" th:field="*{latitude}" type="hidden">
                    <input id="finding-lng" th:field="*{longitude}" type="hidden">
                    <!--hidden-->

                    <div class="required fourteen wide field">
                        <label>What did you find? Name it!</label>
                        <input required th:field="*{name}" type="text">
                    </div>

                    <div class="required thirteen wide field">
                        <label>Which loss group this attributes to?</label>
                        <div class="ui selection dropdown" style="min-height: 0px !important">
                            <input th:field="*{findingGroupName}" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Choose a group</div>
                            <div class="menu">
                                <div class="item" th:data-value="${g}" th:each="g: ${findingGroups}"
                                     th:text="${g}"></div>
                            </div>
                        </div>

                    </div>

                    <div class="required fourteen wide  field">
                        <label>When did you find it?</label>
                        <input id="finding-date" name="finding-date" placeholder="Date..." th:field="*{dateFound}"
                               type="date">
                    </div>

                    <div class="fourteen wide field">
                        <label>Describe your finding</label>
                        <textarea rows="10" th:field="*{description}"></textarea>
                    </div>

                    <button class="ui green button" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <!--END finding info-->

    </div>
</main>

<footer th:replace="partials/footer.html :: footer"></footer>

<!-- Scripts -->
<script th:src="@{/js/lib/jquery.js}"></script>
<script th:src="@{/js/lib/semantic.js}"></script>
<script th:src="@{/js/map-common.js}"></script>
<script th:src="@{/js/finding-report.js}"></script>

<script async defer
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${google_map_key}, libraries='places', callback='initMap')}"></script>
</body>

</html>