<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>IfLostFound | Loss</title>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/lib/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/page/finding_details.css}">
    <!-- Styles -->
</head>

<body>

<nav th:replace="partials/nav.html :: nav"></nav>

<main>
    <div class="ui grid centered container">
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                    <img src="../img/dog.jpg">
                </div>
                <div class="content">
                    <a class="header" th:text="${finding.name}"></a>
                    <div class="meta">
                        <span class="date" th:text="${finding.dateFound}"></span>
                    </div>
                    <div class="description" th:text="${finding.description}"></div>
                </div>
                <div class="extra content">
                    <p>Phone: 0990990990</p>
                    <p>Email: waytodann@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="nine wide column">
            <div id="map"></div>
        </div>
    </div>

    <input id="finding-lat" th:value="${finding.latitude}" type="hidden">
    <input id="finding-lng" th:value="${finding.longitude}" type="hidden">
</main>

<footer th:replace="partials/footer.html :: footer"></footer>

<!-- Scripts -->
<script th:src="@{/js/lib/jquery.js}"></script>
<script th:src="@{/js/page/finding_details.js}"></script>

<script async defer
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${google_map_key}, libraries='places', callback='initMap')}"></script>
<!-- Scripts -->
</body>

</html>