<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>

<nav th:replace="partials/nav.html :: nav"></nav>

<section id="finding-map">
    <div class="container-fluid">
        <div class="input-group input-group-sm" id="map-controls-wrapper">
            <input class="form-control" id="address-in" placeholder="Address..." type="text">
        </div>
        <div class="row" id="map"></div>
    </div>
    <!--<input id="user-default-location" type="hidden" th:value="${user_default_location}">TODO-->
</section>

<footer th:replace="partials/footer.html :: footer"></footer>

<!-- Scripts -->
<script th:src="@{/js/lib/jquery.js}"></script>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
<script th:src="@{/js/index_demo.js}"></script>
<script th:src="@{/js/map-common.js}"></script>

<script async defer
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${google_map_key}, libraries='places', callback='initMap')}">
</script>
<!-- Scripts -->

</body>

</html>