<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> IfLostFound | Welcome </title>
    <!-- Styles -->
    <link th:href="@{/libs/normalize/normalize.css}" rel="stylesheet">
    <link th:href="@{/libs/semantic/semantic.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>

<body>

<!--header-->
<div class="ui inverted vertical center aligned segment header">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item" th:href="@{/}">Home</a>
            <a class="item" th:href="@{/loss/report}">Report</a>
            <a class="item" th:href="@{/loss/map}">Map</a>

            <!-- This section is visible for anonymous user-->
            <div class="right item" sec:authorize="isAnonymous()">
                <a class="ui inverted button" th:href="@{/login}">Log in</a>
                <a class="ui inverted button" th:href="@{/signup}">Sign Up</a>
            </div>
            <!-- end -->

            <!-- This section is visible for authenticated user-->
            <div class="right item" sec:authorize="isAuthenticated()">
                <a class="ui inverted button" th:href="@{/account}">Account</a>
                <a class="ui inverted button" th:href="@{/logout}">Log out</a>
            </div>
            <!-- end -->
        </div>
    </div>
</div>
<!--header-->


<footer th:replace="partials/footer.html :: footer"></footer>

<!-- Scripts -->
<script async defer src="https://maps.googleapis.com/maps/api/js?token"></script>
<script th:src="@{/libs/jQuery/jquery.js}"></script>
<script th:src="@{/libs/semantic/semantic.js}"></script>

</body>

</html>