<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> IfLostFound | Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles -->
    <link rel="stylesheet" href="lib/normalize/normalize.css">
    <link rel="stylesheet" href="lib/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="large-3 large-centered columns">
        <div class="login-box">
            <div class="row">
                <div class="large-12 columns">
                    <form>
                        <div class="row">
                            <div class="large-12 columns">
                                <input type="text" name="username" placeholder="Username" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <input type="password" name="password" placeholder="Password" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 large-centered columns">
                                <div class="btn_holder">
                                    <a href="#" class="btn_fancy">
                                        <div class="solid_layer"></div>
                                        <div class="border_layer"></div>
                                        <div class="text_layer">Sign Up</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/foundation/js/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>