<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ILF | Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/libs/semantic/semantic.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="partials/forms/login.html :: login"></div>

    <script th:src="@{/libs/jQuery/jquery.js}"></script>
    <script th:src="@{/libs/semantic/semantic.js}"></script>
    <script th:src="@{/js/login.js}"></script>

</body>

</html>