<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>IfLostFound | Loss</title>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/lib/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/loss_report.css}">
</head>

<body>

<nav th:replace="partials/nav.html :: nav"></nav>

<section id="steps-overview">
    <div class="ui three column centered grid">
        <div id="report-steps" class="ui ordered steps">
            <div class="step">
                <div class="content">
                    <div class="title">Specify location</div>
                    <div class="description">Where have you found it?</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">Add information</div>
                    <div class="description">Enter finding information</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">Wait for the owner to contact you</div>
                    <div class="description">It is your chance to become someone's hero!</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="loss-location">
    <div class="ui container">
        <div class="ui column" id="location-input-wrapper">
            <div class="ui action input" id="autocomplete-wrapper">
                <input id="autocomplete" placeholder="Address..." type="text">
            </div>
        </div>
        <div class="row" id="map"></div>
    </div>
</section>

<section id="loss-info">
    <div class="ui container">
        <div class="ui column form-wrapper">
            <form class="ui medium form" method="post" th:action="@{/loss/report}" th:object="${loss}">
                <!--hidden-->
                <input id="loss-lat" th:field="*{latitude}" type="hidden">
                <input id="loss-lng" th:field="*{longitude}" type="hidden">
                <!--hidden-->
                <div class="fields">
                    <div class="six wide required field">
                        <label>Finding Name</label>
                        <input required th:field="*{name}" type="text">
                    </div>
                    <div class="five wide required field">
                        <label>Finding Type</label>
                        <div class="ui selection dropdown">
                            <input th:field="*{type}" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Choose type..</div>
                            <div class="menu">
                                <div class="item" th:data-value="${type}" th:each="type: ${lossTypes}" th:text="${type}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="required five wide field">
                        <label>Date</label>
                        <input id="loss-date" name="loss-date" placeholder="Date..." th:field="*{lossDate}" type="date">
                    </div>
                </div>
                <div class="field">
                    <label>Finding Description</label>
                    <textarea rows="3" th:field="*{description}"></textarea>
                </div>
                <div id="submit-btn-wrapper">
                    <button class="ui green button" type="submit">Done</button>
                </div>
            </form>
        </div>
    </div>
</section>

<footer th:replace="partials/footer.html :: footer"></footer>

<!-- Scripts -->
<script th:src="@{/js/lib/jquery.js}"></script>
<script th:src="@{/js/lib/semantic.js}"></script>
<script th:src="@{/js/map-common.js}"></script>
<script th:src="@{/js/loss-report.js}"></script>

<script async defer
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${google_map_key}, libraries='places', callback='initMap')}"></script>
</body>

</html>