<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ILF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/libs/semantic/semantic.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content">
                    Sign Up
                </div>
            </h2>
            <form class="ui large form" th:action="@{/signup}" th:object="${user}" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user circle icon"></i>
                            <input th:field="*{firstName}" type="text" name="name" placeholder="Name">
                        </div>
                        <div class="ui pointing red basic label" th:each="error : ${#fields.errors('firstName')}"
                            th:text="${error}">
                            Please enter a value
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input th:field="*{lastName}" type="text" name="last_name" placeholder="Surname">
                        </div>
                        <div class="ui pointing red basic label" th:each="error : ${#fields.errors('lastName')}"
                            th:text="${error}">
                            Please enter a value
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="envelope icon"></i>
                            <input th:field="*{email}" type="email" name="email" placeholder="E-mail">
                        </div>
                        <div class="ui pointing red basic label" th:each="error : ${#fields.errors('email')}" th:text="${error}">
                            Please enter a value
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="flag icon"></i>
                            <input th:field="*{country}" type="text" name="country" placeholder="Country">
                        </div>
                        <div class="ui pointing red basic label" th:each="error : ${#fields.errors('country')}" th:text="${error}">
                            Please enter a value
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="building icon"></i>
                            <input th:field="*{city}" type="text" name="city" placeholder="City">
                        </div>
                        <div class="ui pointing red basic label" th:each="error : ${#fields.errors('city')}" th:text="${error}">
                            Please enter a value
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input th:field="*{password}" type="password" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="ui pointing red basic label" th:each="error : ${#fields.errors('password')}"
                            th:text="${error}">
                            Please enter a value
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input th:field="*{matchingPassword}" type="password" id="password_confirm" name="password_confirm"
                                placeholder="Confirm password">
                        </div>
                        <div class="ui pointing red basic label" th:each="error : ${#fields.errors('password')}"
                            th:text="${error}">
                            Please enter a value
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Submit</div>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                Already have an account? <a th:href="@{/login}">Log In</a>
            </div>
            <div class="ui message">
                Home <a th:href="@{/}">Return</a>
            </div>
        </div>
    </div>
    <script th:src="@{/libs/jQuery/jquery.js}"></script>
    <script th:src="@{/libs/semantic/semantic.js}"></script>
    <script th:src="@{/js/login.js}"></script>

</body>

</html>