<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Test map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link th:href="@{/css/test_map.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{/test}" method="post">
    <input type="hidden" name="latitude">
    <input type="hidden" name="longitude">
    <button>Submit</button>
</form>
<div class="pac-card" id="pac-card">
    <div>
        <div id="title">
            Enter location:
        </div>
    </div>
    <div id="pac-container">
        <input id="location-input" type="text" placeholder="Enter a location">
    </div>
</div>
<div id="map"></div>
<div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
</div>

<script th:src="@{/libs/jQuery/jquery.js}"></script>
<script th:src="@{/js/test_map.js}"></script>
<script async defer
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${google_map_key}, libraries='places', callback='initMap')}">
</script>
</body>
</html>