<!-- Page Contents -->
<div class="pusher" th:fragment="content">
    <div class="ui inverted vertical masthead center aligned segment">
        <!--<div class="ui container">-->
            <!--<div class="ui large secondary inverted pointing menu">-->
                <!--<a class="toc item">-->
                    <!--<i class="sidebar icon"></i>-->
                <!--</a>-->
                <!--<a class="active item" th:href="@{/}">Home</a>-->
                <!--<a class="item" th:href="@{/map}">Map</a>-->
                <!--<a class="item" th:href="@{/feed}">Feed</a>-->
                <!--<a class="item" th:href="@{/about}">About</a>-->

                <!--&lt;!&ndash; This section is visible for anonymous user&ndash;&gt;-->
                <!--<div class="right item" sec:authorize="isAnonymous()">-->
                    <!--<a class="ui inverted button" th:href="@{/login}">Log in</a>-->
                    <!--<a class="ui inverted button" th:href="@{/signup}">Sign Up</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; end &ndash;&gt;-->

                <!--&lt;!&ndash; This section is visible for authenticated user&ndash;&gt;-->
                <!--<div class="right item" sec:authorize="isAuthenticated()">-->
                    <!--<a class="ui inverted button" th:href="@{/account}">Account</a>-->
                    <!--<a class="ui inverted button" th:href="@{/logout}">Log out</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; end &ndash;&gt;-->

            <!--</div>-->
        <!--</div>-->

        <!-- This section is visible for anonymous user-->
        <div class="ui text container" sec:authorize="isAnonymous()">
            <h1 class="ui inverted header">
                IfLostFound.java
            </h1>
            <h2>Find your stuff.</h2>
            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>
        <!-- end -->

        <!-- This section is visible for authenticated user-->
        <div class="ui text container" sec:authorize="isAuthenticated()">
            <h1 class="ui inverted header">Welcome, <span sec:authentication="name"></span></h1>
        </div>
        <!-- end -->
    </div>


    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">We Help Peoples</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, minima quod sint
                        vel vero.</p>
                    <h3 class="ui header">Ass We Can</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, sequi.</p>
                </div>
                <div class="six wide right floated column">
                    <div id="map"></div>
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a class="ui custom-green huge button">Check Them Out</a>
                </div>
            </div>
        </div>
    </div>


    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"What a Company"</h3>
                    <p>That is what they all say about us</p>
                </div>
                <div class="column">
                    <h3>"I shouldn't have gone with their competitor."</h3>
                    <p>
                        <img src="" alt="User" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">Lorem ipsum dolor sit amet, consectetur adipisicing.n</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim, est eveniet illum
                incidunt nisi non officia perspiciatis placeat repellat sed similique voluptates voluptatibus?</p>
            <a class="ui custom-green large button">Read More</a>
            <h4 class="ui horizontal header divider">
                <a href="#" class="custom-link">Case</a>
            </h4>
            <h3 class="ui header">Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eaque error ipsa minus, neque
                optio quas sunt ullam unde! Alias consequuntur delectus dolorum ipsum odit praesentium suscipit,
                voluptatum?</p>
            <a class="ui custom-green large button">Lorem ipsum dolor sit amet.</a>
        </div>
    </div>
</div>