<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>400</title>
    <link th:href="@{/css/errors/404.css}" rel="stylesheet">
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>400</h1>
            </div>
            <h2>Invalid data has been provided :(</h2>
            <p>Try to be a legal eagle! <a th:href="@{/}">Return to homepage</a></p>
        </div>
    </div>
</body>
</html>