<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>IfLostFound | Loss</title>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/lib/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/page/finding_details.css}">
    <!-- Styles -->
</head>

<body>

<nav th:replace="partials/nav.html :: nav"></nav>

<main>
    <div class="ui segment container" style="width: 60%">
        <div class="row" id="map" style="height:550px"></div>

        <!--BEGIN finding-->
        <div class="ui left internal attached  rail">
           <div class="ui segment">
               <div class="ui card">
                   <div class="image">
                       <img src="../img/question_entity.jpg">
                   </div>
                   <div class="content">
                       <a class="header" th:text="${finding.name}"></a>
                       <div class="meta">
                           <span class="date" th:text="${finding.dateFound}"></span>
                       </div>
                       <div class="description" th:text="${finding.description}">
                       </div>
                       <div class="ui divider"></div>
                       <div class="header">
                           <span th:text="${finding.reporter.firstName}"></span>
                           <span> </span>
                           <span th:text="${finding.reporter.lastName}"></span>
                       </div>
                       <div class="meta">
                           <p th:text="${finding.reporter.email}"></p>
                           <p th:text="${finding.reporter.phone}"></p>
                       </div>
                   </div>
               </div>
           </div>
        </div>
        <!--END finding-->
    </div>

    <input id="finding-lat" th:value="${finding.latitude}" type="hidden">
    <input id="finding-lng" th:value="${finding.longitude}" type="hidden">
</main>

<footer th:replace="partials/footer.html :: footer"></footer>

<!-- Scripts -->
<script th:src="@{/js/lib/jquery.js}"></script>
<script th:src="@{/js/page/finding_details.js}"></script>

<script async defer
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${google_map_key}, libraries='places', callback='initMap')}"></script>
<!-- Scripts -->
</body>

</html>