<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/lib/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/page/range.css}">
    <link rel="stylesheet" th:href="@{/css/page/findings.css}">

    <script th:src="@{/js/util.js}"></script>
</head>

<body>

<nav th:replace="partials/nav.html :: nav"></nav>

<main>
    <div class="ui grid" style="margin-top: 20px">
        <div class="row centered">

            <!--FINDING CARDS BEGIN-->
            <div class="twelve wide stretched column">
                <div class="ui three stackable cards" style="align-items: flex-start">
                    <div class="ui link card" th:each="f : ${findings}">
                        <a th:href="@{/findings/{id}(id = ${f.id})}" style="color: black">
                            <div class="ui left piled segment">
                                <div class="finding-group ui top right attached label" th:text="${f.findingGroupName}"></div>

                                <img alt="finding image" class="ui tiny left floated image" src="img/matthew.png"
                                     style="margin-top: 0px !important; margin-bottom: 0px">

                                <h3 class="ui header text-center" style="margin-top: 0px; margin-bottom: 5px"
                                    th:text="${f.name}"></h3>

                                <div class="meta">
                                    <span th:text="${f.dateFound}"></span>
                                </div>

                                <div class="floated right text-center description" th:text="${f.description}"></div>

                                <div class="ui  divider"></div>
                                <div class="finding-address" th:value="${f.discoveryPlaceId}"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--FINDING CARDS END-->

            <div class="three wide column">
                <!--radius filter BEGIN-->
                <div class="ui vertical fluid">
                    <div class="container">
                        <div class="ui segment">
                            <div class="ui checkbox" id="radius-cbx">
                                <input name="example" type="checkbox">
                                <label>Search in radius</label>
                            </div>
                            <div class="ui divider"></div>
                            <div class="ui green range" id="range"></div>
                            <div class="ui divider"></div>
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class="ui left floated column" id="radius-val-wrapper">
                                        Radius (km):
                                        <span id="display"></span>
                                    </div>
                                    <div class="right floated column">
                                        <button class="ui right floated tiny button green" id="radius-btn">Apply
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--radius filter END-->

                <!--group filter BEGIN-->
                <div class="ui vertical fluid right tabular menu">
                    <a class="item" th:classappend="${g.equalsIgnoreCase(filterGroup)} ? active"
                       th:each="g : ${findingGroups}"
                       th:href="@{/findings(page=1, group=${g})}" th:text="${g}">
                    </a>
                </div>
                <!--group filter END-->
            </div>
        </div>
        <div class="row centered">
            <div class="five wide column">
                <div class="ui pagination menu">
                    <a class="icon item"
                       th:href="@{/findings(page=${pagination.currentPage - 1}, group=${filterGroup})}"
                       th:unless="${pagination.first}">
                        <i class="left chevron icon"></i>
                    </a>

                    <a class="item" th:href="@{/findings(page=${pagination.currentPage - 1}, group=${filterGroup})}"
                       th:text="${pagination.currentPage - 1}" th:unless="${pagination.first}"></a>
                    <a class="item active" th:text="${pagination.currentPage}"></a>
                    <a class="item" th:href="@{/findings(page=${pagination.currentPage + 1}, group=${filterGroup})}"
                       th:text="${pagination.currentPage +1}" th:unless="${pagination.last}"></a>

                    <a class="icon item"
                       th:href="@{/findings(page=${pagination.currentPage + 1}, group=${filterGroup})}"
                       th:unless="${pagination.last}">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </div>
            <div class="ten wide stretched column"></div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer.html :: footer"></footer>

<!-- Scripts -->
<script th:src="@{/js/lib/jquery.js}"></script>
<script th:src="@{/js/lib/semantic.js}"></script>
<script th:src="@{/js/custom/range.js}"></script>
<script th:src="@{/js/page/findings.js}"></script>

<script async defer
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${google_map_key}, callback='initGoogleMapsApiLogic')}"></script>
<!-- Scripts -->
</body>

</html>