<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Log In | Register</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="stylesheet" th:href="@{/css/lib/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/page/login.css}">
</head>

<body>

<nav th:replace="partials/nav.html :: nav"></nav>

<main>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="ui middle aligned center aligned grid" style="width: 450px">
            <div class="column">
                <form class="ui large form" method="post" th:action="@{/login}">
                    <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui input">
                                <input name="username" placeholder="E-mail address" required type="email">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui input">
                                <input name="password" placeholder="Password" required type="password">
                            </div>
                        </div>
                        <input class="ui positive submit button" type="submit" value="Log In">
                    </div>

                    <div class="ui error small message" th:classappend="${param.error != null} ? displayed">
                        <p>Incorrect credentials provided</p>
                    </div>
                </form>

                <div class="ui message">
                    New to us?
                    <a th:href="@{/register}">Register</a>
                </div>
            </div>
        </div>
    </div>
</main>

<!--scripts-->
<script th:src="@{/js/lib/jquery.js}"></script>
<!--scripts-->

</body>

</html>