main{
    min-height: calc(100vh - 68px);
    display: flex;
    align-items: center;
    justify-content: center;
}

div .grid {
    height: 600px;
}

#map {
    height: 100%;
    border-radius: 0.28571429rem;
    box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
}

/*----- BEGIN google  superfluous info disabling -----*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
/*----- END google  superfluous info disabling -----*/