main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 68px);
}

/*main div {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

/*main div div {*/
    /*width: 450px;*/
/*}*/